.awit{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin: 50px auto;
}
form h3{
    font-size: 34px;
    font-weight: 300;
    font-style:initial;
    position: relative;
    padding-bottom: 10px;
}
form h3::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    bottom: 0;
    left: 0;
}